<launch>

  <!--Robot Description from URDF-->
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find mobile_description)/urdf/mobile_robot.xacro"/>  

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

   <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/> 

  <!--RViz-->
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find mobile_description)/config/bot_config.rviz" />

  <!--Gazebo empty world launch file-->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    	<arg name="debug" value="false" />
    	<arg name="gui" value="true" />
    	<arg name="paused" value="false"/>
    	<arg name="use_sim_time" value="true"/>
    	<arg name="headless" value="false"/>
    	<arg name="verbose" value="true"/>
      <arg name="world_name" value="$(find mobile_description)/world/pipe.world"/>
  </include>

  <!--Gazebo Simulator-->

  
    <node name="spawn_robot_model" pkg="gazebo_ros" type="spawn_model"
    args="-unpause -urdf -param robot_description -model mobile_base"/>
  
</launch>
